.contacts {
    margin-bottom: 77px;
}

.contacts-title {
    text-align: right;
    margin-bottom: 60px;
}

.contacts__subtitle {
    color: var(--gray);
    margin-bottom: 4px;
}

.contacts__data {
    margin-bottom: 21px;
    position: relative;
}

.contact-arrow {
    position: absolute;
    right: 0px;
    top: 0px;
    transform: rotate(180deg);
}

@media screen and (max-width: 950px) {
    .contact-arrow {
        display: none;
    }

    .contacts {
        margin-bottom: 40px;
    }
}