@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
	font-family: "Poppins-text";
	src: url("../fonts/Poppins-ExtraLight.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Medium.ttf");
}
