.footer {
    margin-bottom: 66px;
}

.footer__copyright {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

@media screen and (max-width: 556px) {
    .footer {
        margin-bottom: 40px;
    }

    .footer__copyright {
        margin-top: 40px;
        width: 100%;        
    }

    .footer__copyright, .copyright-links {
        color: var(--gray);
    }
}