.preview__info {
    max-width: 700px;
    margin: 0 0 272px auto;
}

.preview__text {
    display: inline-block;
    margin-bottom: 40px;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 184px 0;
}

.first-column {
    margin: 120px 0 0 0;
}

.second-column {
    margin: 177px 0 0 0;
}

.third-column {
    margin: 277px 0 0 0;
}

.column-text::before {
    content:"";
    width: 20px;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    left: -31px;
    top: 14px;
}

.column-text {
    position: relative;
    margin: 0 0 86px 31px;
}

.column-text.-noMargin {
    margin: 0 0 0 31px;
}

.idea {
    margin-bottom: 264px;
}

.idea-title {
    margin: 0 0 152px 0;
}

.idea__form {
    width: 661px;
    margin: 0 0 0 auto;
}

.idea__input {
    width: 100%;
    color: var(--white);
    background-color: var(--black);
    border: none;
    border-bottom: 1px solid var(--white);
    padding: 0 0 32px 0;
    outline: none;
    margin: 0 0 40px 0;
}

.idea__input.-margin {
    margin: 0 0 60px 0;
}

.idea__input::placeholder {
    color: var(--white);
}

.idea__submit.-empty {
    color: red;
}

.idea__submit {
    padding: 16px 49px;
    margin: 0 0 24px 0;
    border: 1px solid var(--white);
}

.idea-text {
    color: var(--gray);
}

@media screen and (max-width: 1085px) {
    .advantages-title, .advantages__list {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .preview__info {
        max-width: 450px;
        margin: 0 0 120px auto;
    }

    .idea {
        margin: 0 0 120px 0;
    }

    .idea-title {
        margin: 0 0 60px 0;
    }

    .idea__submit {
        padding: 16px 35px;
    }
}

@media screen and (max-width: 661px) {
    .idea__form {
        width: 100%;
    }
}