.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__nav-mobile {
    display: none;
}

.header__menu.-hidden {
    display: none;
}

.header__menu-btn {
    display: none;
}

.header__link {
    border-bottom: 1.5px solid transparent;
    transition: 0.5s;
    margin: 0 0 0 48px;
}

.header__link.-active {
    color: var(--gray);
}

.header__link:hover {
    transition: 1s;
    border-bottom: 1px solid var(--white);
}

@media screen and (max-width: 950px) {
    .header__nav {
        display: none;
    }

    .header__nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .header__menu {
        position: absolute;
        top: 36px;
        height: calc(100vh - 74px);
        width: calc(100vw - 48px);
        background: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 36px 0;
        z-index: 10;
    }

    .header__menu-btn {
        width: 24px;
        height: 8px;
        display: block;
        position: relative;
    }

    .header__menu-btn__top-stick {
        content: "";
        width: 24px;
        height: 2px;
        background-color: var(--white);
        position: absolute;
        top: 0px;
        left: 0px;
        transition: 1s;
    }

    .header__menu-btn__bottom-stick {
        content: "";
        width: 14px;
        height: 2px;
        background-color: var(--white);
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition: 1s;
    }

    .header__menu-btn.-active {
        margin: 0 0 0 auto;
    }

    .header__menu-btn.-active > .header__menu-btn__top-stick {
        content: "";
        transform: rotate(45deg);
        width: 24px;
        right: 0px;
        top: 50%;
        transition: 1s;
    }

    .header__menu-btn.-active > .header__menu-btn__bottom-stick {
        content: "";
        transform: rotate(-45deg);
        width: 24px;
        top: 50%;
        transition: 1s;
    }

    .header__menu-nav {
        width: 200px;
        margin: 100px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .header__link {
        margin: 0 0 40px 0;
    }

    .header__contacts {
        width: 200px;
    }

    .header__contact {
        color: var(--gray);
    }

    .header__contact.-margin-top {
        margin: 16px 0 0 0;
    }
}

@media screen and (max-height: 615px) {
    .header__menu-nav {
        margin: 40px 0 0 0;
    }
}