.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 67px 0 120px 0;
    position: relative;
}

.header__menu {
    position: absolute;
    top: 50px;
    height: calc(100vh - 90px);
    width: 1160px;
    background-color: var(--black);
    z-index: 10;
}

.header__menu.-hidden {
    display: none;
}

.header__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.header__link {
    border-bottom: 1.5px solid transparent;
    transition: 0.5s;
}

.header__link.-active {
    color: var(--gray);
}

.header__link:hover {
    transition: 1s;
    border-bottom: 1.5px solid var(--white);
}

.header__contacts {
    display: none;
    position: absolute;
    bottom: 40px;
}

.header__contact {
    color: var(--gray);
    margin-top: 16px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 127px;
    font-size: 25px;
}

.logo__sf {
    font-family: "Arial";
    font-size: 25px;
    border: 2px solid var(--white);
    padding: 6px;
}

.header__burger::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 2px;
    background-color: var(--white);
    right: 0px;
    top: 0px;
    transition: 1s;
}

.header__burger {
    position: relative;
    height: 22px;
    width: 48px;
}

.header__burger__middle-stick {
    width: 24px;
    height: 2px;
    position: absolute;
    background-color: var(--white);
    right: 0px;
    top: 10px;
}

.header__burger::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 2px;
    background-color: var(--white);
    right: 0px;
    bottom: 0px;
    transition: 1s;
}

.header__burger.-active::before {
    transform: rotate(45deg);
    width: 40px;
    right: 0px;
    top: 0px;
    transition: 1s;
}

.header__burger.-active {
    height: 15px;
}

.header__burger.-active > .header__burger__middle-stick {
    display: none;
}

.header__burger.-active::after {
    transform: rotate(-45deg);
    width: 40px;
    right: 0px;
    top: 0px;
    transition: 1s;
}

@media screen and (max-width: 1226px) {
    .header__menu {   
        width: calc(100% + 24px);
    }
}

@media screen and (max-width: 950px) {

    .logo, .logo__sf {
        font-size: 16px;
    }

    .logo {
        width: 85px;
    }

    .header__links {
        height: 60vh;
    }

    .header__contacts {
        display: block;
    }

    .header__burger::before {
        width: 14px;
    }

    .header__burger {
        height: 8px;
    }

    .header__burger::after {
        width: 24px;
    }

    .header__burger.-active::before {
        transform: rotate(45deg);
        width: 24px;
        right: 0px;
        top: 0px;
        transition: 1s;
    }

    .header__burger.-active::after {
        transform: rotate(-45deg);
        width: 24px;
        right: 0px;
        top: 0px;
        transition: 1s;
    }

    .header__burger__middle-stick {
        display: none;
    }

    .header__links {
        align-items: normal;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 40px 0 100px 0;
    }
}

@media screen and (max-height: 615px) {
    .header__links {
        margin-top: 50px;
    }
}