.join-title {
	margin-left: 100px;
}

.join__mission {
	margin-bottom: 264px;
	width: 760px;
	margin-left: auto;
}

.mission-text {
	margin-bottom: 40px;
}

.headline {
	margin-bottom: 10px;
    background-color: black;
}

.headline-span {
	color: var(--gray);
}

.first-plan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 114px;
	border-bottom: 1px solid var(--light-gray);
    z-index: 2;
}

.first-plan.-noBorder {
	border: none;
}

.headline__more::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 2px;
	left: 1px;
	background-color: var(--white);
}

.headline__more {
	transition: 1s;
	position: relative;
	width: 40px;
	height: 40px;
}

.headline__more::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 40px;
	top: 1px;
	left: 20px;
	background-color: var(--white);
}

.headline__more.-active {
	transition: 1s;
	transform: rotate(45deg);
}

.list {
    transition: 1s all;
    height: 100px;
    max-width: 100%;
	overflow: hidden;
	margin: 20px 0;
}

.list.-biggerHeight {
	height: 208px;
}

.list.-hidden {
    transition: 1s all;
	height: 0;
    min-width: 0%;
}

.list__link {
	display: inline-block;
	margin-bottom: 16px;
	transition: 0.5s;
}

.list__link:hover {
	transition: 1s;
	opacity: 0.5;
}

.tags {
	display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

@media screen and (max-width:950px) {
	.join-title {
		margin: 0 0 120px 0;
	}

	.join__mission {
		max-width: 327px;
		margin: 0 0 120px auto;
	}

	.mission {
		margin-bottom: 33px;
	}

	.first-plan {
		height: 65px;
	}

	.headline__more::before {
		width: 24px;
		left: 1px;
	}

	.headline__more {
		width: 24px;
		height: 24px;
	}

	.headline__more::after {
		height: 24px;
		left: 12px;
	}

	.tags {
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 339px) {
	.list {
		height: 120px;
	}

	.list.-biggerHeight {
		height: 250px;
	}
}