.team {}

.team-title {
    text-align: center;
    margin-bottom: 150px; 
}

.team__office-laptop, .team__people-unity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 150px;
}

.office-laptop-text {
    max-width: 570px;
    margin-right: 100px;
}

.team__office-laptop-img {
    width: 500px;
}

.team__people-unity {
    margin-bottom: 263px;
}

.team__people-unity-img {
    width: 300px;
    margin-right: 200px;
}

.people-unity-text {
    max-width: 500px;
    margin-bottom: 20px;
}

.team__people-link {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--white);
}

@media screen and (max-width: 1126px) {
    .team-title {
        margin-bottom: 60px;
    }

    .team__office-laptop {
        margin-bottom: 60px;
    }

    .team__office-laptop-img {
        width: 350px;
    }

    .team__people-unity {
        align-items: flex-end;
    }

    .office-laptop-text {
        margin-bottom: 30px;
        margin-right: 0px;
    }

    .team__people-unity-img {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 950px) {
    .team__office-laptop, .team__people-unity {
        flex-direction: column;
    }

    .team__people-unity-img {
        margin-right: 0px;
    }

    .team__people-unity {
        margin-bottom: 120px;
    }
}